<div class="container">
    <div class="center-block col-sm-9">
        <div class="jumbotron">
            <h2>Wanted lots</h2>
            <p>
                This page contains lots that you wants to by. It means that your bet was the last
            </p>
        </div>
        @Html.Action("GetUserActiveLots","Lot")
    </div>
</div>
