<div class="container">
    <div class="center-block col-sm-9">
        <div class="jumbotron">
            <h2>Bought lots</h2>
            <p>
                Contains lots that you bought.
            </p>
        </div>
        @Html.Action("GetUserBougthLots", "Lot")
    </div>
</div>