@if (Request.IsAuthenticated)
{
    <text>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Your lots<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Wanted lots</a></li>
                <li><a href="#">Bought lots</a></li>
                <li><a href="#">Sold lots</a></li>
            </ul>
        </li>
        <li>
            <a class="disabled"><span class="glyphicon glyphicon-user"></span> @User.Identity.Name </a>
        </li>
        <li style="margin-top:8px;">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <button class="btn btn-primary" type="submit"><i class="fa fa-sign-out">Log Off</i></button>
            }
        </li>
    </text>
}
else
{
    <div class="dropdown navbar-right" style="margin-top:8px">
        @Html.ActionLink("Login","Login", "Account");
        @*<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="navLogin">
            <i class="fa fa-sign-in"> Login</i>
        </button>
        <div class="dropdown-menu" style="padding:17px;">
            <div id="formLogin" class="form" style="min-width:150px;">
                <label>Login</label>
                @Html.ActionLink("Login", "Account");
            </div>
            <br />
            <form>
                <a href="#" title="Fast and free sign up!" id="btnNewUser" data-toggle="collapse" data-target="#formRegister">New User? Sign-up..</a>
            </form>
            <div id="formRegister" class="form collapse">
                Html.Partial("~/Views/Account/Register.cshtml", new ViewDataDictionary())
            </div>
        </div>*@
    </div>
}
