@model System.Web.Mvc.HandleErrorInfo


<div>
    <div class="col-sm-6">
        <img src="~/Images/auction.png" style="height:80%;width:80%" />
    </div>
    <div class="col-sm-6">
        <h1 class="error">Sorry.</h1>
        <h2 class="error">Something goes wrong.</h2>
    </div>
</div>
