<h1> Internet Auction</h1>
<div class="container jumbotron">
    <div>
        <div class="col-sm-6">
            <img src="~/Images/auct2.png" style="width:90%;height:70%" />
        </div>
        <div class="col-sm-6">
            <h3>Compare the Best, Buy the Best for You</h3>
            <h4>An online auction is a service in which auction users or participants sell or bid for products or services via the Internet. Virtual auctions facilitate online activities between buyers and sellers in different locations or geographical areas. Various auction sites provide users with platforms powered by different types of auction software.</h4>
            <p>Here you can</p>
            <ul>
                <li>Sell lots</li>
                <li>Buy lots</li>
                <li>Track bet history of all lots</li>
                <li>Rebuy auction money, to buy lots</li>
            </ul>
            <ul></ul>
        </div>
    </div>

</div>
